/* for tag cloud and archives */
.tag-cloud {
  list-style: none;
  padding: 0;
  text-align: justify; 
  font-size: 16px;
}

.tag-cloud li {
    display: inline-block;
    margin: 0 12px 12px 0;
}

#archives {
  padding: 5px;
}

.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}

.archive-item {
  margin-left: 5px;
}

.tag {
    background-color: #9a9a9a;
    color: #fff !important;
    margin-right: 5px;
    padding: 0 5px;
}

/* Archive CSS */
.archive header {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;
}

.archive header h1 {
  color: #404040;
  font-size: 3rem;
}

.archive h2 {
    display: inline-block;
    position: relative;
    float: left;
    top: -1px;
    font-weight: normal;
    margin-bottom: .3em;
    font-size: 1.5em;
    color: #aaa;
}

.archive article h1 {
  font-size: 1.5em;
  text-decoration: none;
}

.archive article h1 a {
  color: #313131;
}

.archive article {
  padding-left: 4.5em;
  margin-left: 5em;
  position: relative;
}

.archive time {
  font-size: 0.9em;
  color: #aaa;
}

.archive time .year {
  display: none;
}

.archive .post-title {
  display: block;
  margin: 10px 0px;
  text-decoration: underline;
  font-weight: bold;
}
