/* for tag cloud and archives */
.tag-cloud {
  list-style: none;
  padding: 0;
  text-align: justify; 
  font-size: 16px;
}

.tag-cloud li {
    display: inline-block;
    margin: 0 12px 12px 0;
}

#archives {
  padding: 5px;
}

.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}

.archive-item {
  margin-left: 5px;
}

.tag {
    background-color: #9a9a9a;
    color: #fff !important;
    margin-right: 5px;
    padding: 0 5px;
}

/* Archive CSS */
.post-archive .post-title {
    display: block;
    margin: 10px 0px;
    text-decoration: underline;
    font-weight: bold;
}
