<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  
  {% if page.description %}
  <meta name="description" content="{{ page.description}}" />
  {% endif %}
  
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}" />
  {% endif %}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="/public/css/tips.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png?v=XBrbrWNgYz">
  <link rel="icon" type="image/png" href="/public/favicon/favicon-32x32.png?v=XBrbrWNgYz" sizes="32x32">
  <link rel="icon" type="image/png" href="/public/favicon/favicon-16x16.png?v=XBrbrWNgYz" sizes="16x16">
  <link rel="manifest" href="/public/favicon/manifest.json?v=XBrbrWNgYz">
  <link rel="mask-icon" href="/public/favicon/safari-pinned-tab.svg?v=XBrbrWNgYz" color="#5bbad5">
  <link rel="shortcut icon" href="/public/favicon/favicon.ico?v=XBrbrWNgYz">
  <meta name="msapplication-config" content="/public/favicon/browserconfig.xml?v=XBrbrWNgYz">
  <meta name="theme-color" content="#999fff">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
    
  <!-- JS -->
  <script type="text/javascript" src="/public/js/tips.js"></script>  
</head>
