<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2>
        <a href="/">
          {{ site.title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

      <nav class="sidebar-nav">
          <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="/">Home</a>
          <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="/Series">Series</a>
          <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="/Links">External Links</a>
          <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="/tags">Tags</a>
          <a class="sidebar-nav-item{% if page.title == 'Archive' %} active{% endif %}" href="/archive">Archive</a>
          <a class="sidebar-nav-item" href="/atom.xml">RSS</a>
      </nav>
      <div>
          <a href="https://github.com/sidburn/sidburn.github.io">
              <img src="/public/GitHub-Mark-Light-32px.png" style="display: inline" />
          </a>
          <a href="https://twitter.com/David_Raab">
              <img src="/public/Twitter_logo_white_32.png" style="display: inline" />
          </a>
          <a href="http://stackoverflow.com/users/338059/sid-burn">
              <img src="/public/so-icon.png" style="display: inline" />
          </a>
      </div>
  </div>
</div>
